header{
    position: sticky;
    top: 0;
    z-index: 100; 
}

.hover:hover{
    
    background-color: #006414;
}
.margen-boton{
    margin-left: 10px;
    margin-bottom: 10px;
}
.boton{
    text-decoration: none; 
    color: white;
    margin-top: 10px;
    margin-left: 10px; 
    padding: 8px; 
}