
.color-fondo{
    background-image: linear-gradient(to top, #243949 0%, #517fa4 100%);
}
header{
    position: sticky;
    top: 0;
    z-index: 100;
    
}
a:hover{
    border-radius: 2%;
    background-color: #006414;
}

.fondo-navbar{
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
.fondo-noticias{
    /*background-image: linear-gradient(to top, #243949 0%, #517fa4 100%);*/
    padding-top: 5%;
    padding-bottom: 5%;
}
.fondo-nosotros{
    /*background-image: linear-gradient(to top, #243949 0%, #517fa4 100%);*/
    padding-top: 10%;
}
.fondo-carousel{
    /*background-image: linear-gradient(to top, #243949 0%, #517fa4 100%);*/
    padding-top: 10px; 
}
.fondo-formulario{
    /*background-image: linear-gradient(to top, #243949 0%, #517fa4 100%);*/
    padding-top: 10%;
    padding-bottom: 10%;
}
.tamanio{
    padding-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0;
    
}

.posicion{
    margin-left: 20%;
    margin-right: 20%;
}
.tarjeta{
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 5%;
}
.fotos{
    margin-top: 5%;
    border-radius: 2%;
    height: 20%;
    
}
.borde-gris{
    border-radius: 10px;
    border-width: 2px;
    border-color: #323a53;
}
.borde-verde{
    border-width: 2px;
    border-color: #006414;
}


/*

*/